{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
    <div class="c-page_head page_small_width">
        <div class="c-page_title">
            <h1 class="en"><span>SIGN UP</span></h1>
            <p class="jp">新規会員登録</p>
        </div>
    </div>
    <!--  -->
    <main class="main">
        <div class="c-subpage_contain">
            <div class="c-register_top">
                <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <h2>会員登録ありがとうございます。</h2>
                </div>
                <div class="c-register_top_introtxt wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <p>会員登録が完了しました。<br/>それでは、ショッピングをお楽しみください。</p>
                </div>
            </div>

            <div class="p-register_conatin wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <div class="c-btn_group">
                    <div class="c-btn_left">
                        <a href="{{ url('homepage') }}" class="c-btn">トップページへ</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
