{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />
{% endblock %}

{% block main %}
    <div class="c-page_head page_small_width">
        <div class="c-page_title">
            <h1 class="en"><span>SIGN UP</span></h1>
            <p class="jp">新規会員登録</p>
        </div>
    </div>
    <!--  -->
    <main class="main">
        <div class="c-subpage_contain">
            <div class="c-register_top">
                <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <h2>登録完了</h2>
                </div>
                <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <div class="item_step active">
                        <span class="no">1</span>
                        <span class="txt">内容入力</span>
                    </div>
                    <div class="item_step active">
                        <span class="no">2</span>
                        <span class="txt">内容確認</span>
                    </div>
                    <div class="item_step active">
                        <span class="no">3</span>
                        <span class="txt">送信完了</span>
                    </div>
                </div>
                <div class="c-register_top_introtxt wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <p>現在、仮会員の状態です。ただいま、ご入力いただいたメールアドレス宛に、ご本人様確認用のメールをお送りいたしました。<br/>
                    メール本文内のURLをクリックすると、本会員登録が完了となります。</p>
                </div>
            </div>

            <div class="p-register_conatin wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <div class="c-btn_group">
                    <div class="c-btn_left">
                        <a href="{{ url('homepage') }}" class="c-btn">ホームに戻る</a>
                    </div>
                    <div class="c-btn_rigth">
                        <a href="{{ url('homepage') }}" class="c-btn">購入手続きへ進む</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
