{% extends 'default_frame.twig' %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>ABOUT LEBEN</span></h1>
        <p class="jp">レーベンとは</p>
    </div>
</div>

<!-- ABOUT LEBEN -->
<main class="main">
    <div class="c-subpage_contain">
        <div class="p-aboutpage">
            <!-- レーベンとは -->
            <div class="p-about_sec p-aboutinto_sec">
                <div class="c-about_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <h2>レーベンとは</h2>
                </div>
                <div class="p-about_body">
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>創業のはじまり</h3>
                        </div>
                        <div class="c-subpageitem_txt">
                            <p>1999年、日本の横浜にて、「素直なモノ創りで、使いやすさを追求し、人々に感動を与え、デファクトスタンダードとなる製品を目指す。」を掲げ、創業者・株式会社レーベン 代表取締役社長 髙部篤のもと、21世紀に向け赤ちゃんがはじめて食べる為の「はじめてのカトラリィ」や、子ども達に使いやすい学校給食器具をはじめ、身体に優しく快適なボディケアグッズ等を独自に開発し、製造、販売を開始した。<br> また、取扱い商品を生活用品、手で使う手道具を主とし、多くの人に使われてこそ製品に命が宿るとし、社名は株式会社レーベンと命名した。(※レーベンはドイツ語で生活を意味する)
                                <br> さらに、これらのブランドとして、日本人の謙虚さ、優しさ、親しみやすさをイメージし、ブランド名を「ののじ」とした。
                                <br> デザイン思想は、機能の追求から自然に機能美が生まれるとし、本来の道具としての意味を原点から見つめ、それらの分類、整理から発想(アイディア)が生まれるプロセス(=デザイン)を哲学とし実践。 </p>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>代表からのメッセージ</h3>
                        </div>
                        <div class="c-subpageitem_txt p-representative">
                            <div class="txt">
                                <p><strong>豊かな心を育む「モノ」創り。</strong></p>
                                <p>
                                    モノが豊かになった現代、人々の心は豊かになったのでしょうか?<br> 21世紀の今、私たちは、従来の大量消費の時代から地球環境や人と人との繋がりを大事にすると共に、食料、水、エネルギーそして、モノを大事にする時代にしていかなければならないと考えます。私たちはモノの原点に立ち返りモノの本質を素直に見つめる「モノ創り」を推進し、みなさまに愛される道具創りを目指します。そして、「モノ」から皆様の心の豊かさに少しでも貢献したいと考えております。</p>
                                <p class="txt_right">代表取締役 高部 篤</p>
                            </div>
                            <div class="representative_img">
                                <img src="{{ asset('assets/image/common/representative.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 企業理念 -->
            <div class="p-about_sec p-philosophy_sec">
                <div class="c-about_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <h2>企業理念</h2>
                </div>
                <div class="p-about_body">
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>企業理念</h3>
                        </div>
                        <div class="c-subpageitem_txt">
                            <div class="p-philosophy_title">
                                <p class="">“ 素直追求企業 ”</p>
                            </div>
                            <div class="p-philosophy_txt">
                                <p>“私達は素直にモノ創りから<br> 人々に永く愛される製品の提供をします。”
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>企業理念の構造</h3>
                        </div>
                        <div class="c-subpageitem_txt">
                            <div class="p-structure">
                                <img src="{{ asset('assets/image/common/structure.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>コーポレートマーク</h3>
                        </div>
                        <div class="c-subpageitem_txt p-corporatemark">
                            <div class="p-marklogo">
                                <img src="{{ asset('assets/image/common/logo.png') }}" alt="">
                            </div>
                            <p>コンセプトは、「良いデザインを作る、デザインメーカー」。特徴として、ロゴ部分は生活用品メーカーとして親しみ易い雰囲気と優しさが感じられるオリジナルロゴタイプ。マーク部分は楕円が集まり「E」を形作る事で、「良い(イー)製品」「良い(イー)デザイン」「EARTH」「ECOLOGE」などの意味を表現しています。また、マークとロゴが合わさり「矢印」を形成する事で、「素直な心で素直な製品を作るために日々努力を続け歩み続ける企業」という株式会社レーベンの等身大の姿と夢を表していると同時に、誰にでも認識出来る、印象的なコーポレートマークとしました。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-about_sec p-profile_sec">
                <div class="c-about_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <h2>会社概要</h2>
                </div>
                <div class="p-about_body">
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>会社概要</h3>
                        </div>
                        <div class="p-law_content">
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>名称</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>株式会社レーベン LEBEN co.,ltd. </p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>所在地</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>開発センター<br> 〒220-0004
                                        <br> 横浜市西区北幸2丁目8番19号横浜西口Kビル </p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>E-mail</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>leben-info@yokohama-city.co.jp </p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>設立</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>平成14年5月1日</p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>資本金</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>6,000万円</p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>決算期</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>7月</p>
                                </div>
                            </div>
                            <div class="p-lawitem_row">
                                <div class="lawitem_head">
                                    <span>代表取締役</span>
                                </div>
                                <div class="lawitem_txt">
                                    <p>高部 篤</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>アクセス地図</h3>
                        </div>
                        <div class="c-subpageitem_txt">
                            <img src="{{ asset('assets/image/common/access.png') }}" alt="">
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>沿革</h3>
                        </div>
                        <div class="c-subpageitem_txt p-history">
                            <!-- <img class="pc" src="./assets/image/common/history_pc.svg" alt="">
                            <img class="sp" src="./assets/image/common/history_sp.svg" alt=""> -->
                            <div class="p-history_body">
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>昭和57年1月5日</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>株式会社レーベン設立<br> 大手量販店等のPOSシステムの開発
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成11年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>スプーンのデザインと量産を開始。</p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成14年5月1日</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>株式会社レーベン販売設立<br> 株式会社レーベン（ソフトウエアー開発及び生活用品の企画開発販売）の販売部門を移行（独立分社）し生活用品、及び学校給食器具の開発販売を開始する。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成14年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>グッドデザイン賞3点を受賞。（株式会社レーベン共同出展）<br> 神奈川県中小企業支援センターによるビジネス可能性事業評価でA評価を得る。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成15年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>中燕市物産コンクール知事賞受賞。<br> 大阪デザインセンターにてUDお玉類が部門最優秀賞を受賞。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成16年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>（財）新潟産業創造機構IDSデザインコンペティションIDS大賞受賞。<br> 大阪デザインセンターにてお玉類が部門最優秀賞を受賞。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成18年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>学校給食器具デザインの総合的活動でグッドデザイン賞（新領域部門）受賞。</p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成20年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>耳かき売上200万本達成。<br> 学校給食フォーラム開催（主催：神奈川新聞社、後援：レーベン販売）
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成21年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>特許庁長官表彰 産業財産権制度活用優良企業等（意匠活用）受賞。 学校給食器具開発でキッズデザイン賞コミュニケーションデザイン部門受賞。
                                            <br> Ambiente（フランクフルト：ドイツ）で展示出展。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成22年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>「ののじスプーン」が、グッドデザイン賞ロングライフデザイン賞を受賞。<br> 「ののじスプーン」が、感性価値創造フェア（主催：経済産業省）にて選定。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成26年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>ダイヤモンド社より<a href="#">『“ひらめき”をビジネスに変えるタカブ式ものづくり』</a>を出版。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成29年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>製造・企画販売事業を中心とするののじ株式会社と、企画・開発事業を中心とする株式会社レーベン販売に分社化。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>平成30年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>社名を株式会社レーベンに変更。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>令和元年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>NHKまちかど情報室 勤労感謝の日特集“働くをサポート”において弊社が約10分間放映される。
                                        </p>
                                    </div>
                                </div>
                                <div class="p-history_item">
                                    <div class="p-history_head">
                                        <div class="p-history_date">
                                            <span>令和３年</span>
                                        </div>
                                        <div class="p-history_circle"><span></span></div>
                                    </div>
                                    <div class="p-history_content">
                                        <p>横浜知財みらい企業として５年連続認定。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>業務内容</h3>
                        </div>
                        <div class="c-subpageitem_txt p-business_content">
                            <div class="p-business_item">
                                <div class="c-item_smalltitle">
                                    <h4>生活器具の企画・開発</h4>
                                </div>
                                <div class="p-business_item_txt">
                                    <p>・保育園、小中学校の給食器具類、教材開発<br> ・ホテル、飲食店等の食器具類の開発
                                        <br> ・一般キッチンガジェットの企画・開発
                                        <br> ・ケアグッズの企画・開発
                                        <br> ・通販業者に対する企画・開発
                                    </p>
                                </div>
                            </div>
                            <div class="p-business_item">
                                <div class="c-item_smalltitle">
                                    <h4>プログラムの企画・開発</h4>
                                </div>
                                <div class="p-business_item_txt">
                                    <p>・販売、在庫管理システム
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-subitem wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-subpageitem_title">
                            <h3>業務内容</h3>
                        </div>
                        <div class="c-subpageitem_txt">
                            <p>・学校給食用調理器具／業務用ステンレス一体型大釜用調理器具他<br> ・食器具—カトラリィ（ステンレス、チタン、ファインセラミックス）オリジナル開発
                                <br> ・配食器具／調理器具／キッチンガジェット（トング、オタモ、包丁）オリジナル開発
                                <br> ・ヘルスケア＆グルーミング／水枕、氷のう、耳かき、背かき、角質取り、舌かき、フロスハンドル他オリジナル開発
                                <br> ・教材、文具／風力発電教材、ハサミ他オリジナル開発
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}