{% filter escape %}
    <div class="row item_box">
        <div id="BlogProduct___name__" style="display: none">
            <input type="hidden" id="CMBlogPro_admin_blog_BlogProduct___name___Product" name="CMBlogPro_admin_blog[BlogProduct][__name__][Product]" class="form-control" />
        </div>

        <div class="col-11 item_detail">
            <div class="item_name_area">
                <strong class="item_name">
                    <div id="BlogProduct___name___product_name"></div>
                </strong><br>
            </div>
        </div>
        <div class="col-1 icon_edit">
            <button class="btn btn-default btn-sm delete-item">削除</button>
        </div>
    </div><!-- /.item_box -->
{% endfilter %}