

#product_review_area {
    border-top: 1px solid #E8E8E8;
    padding-bottom: 0;
    margin-bottom: 20px;
}

#product_review_area .ec-rectHeading {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

#product_review_area .ec-rectHeading.is_active i {
    transform: rotate(180deg);
}

#product_review_area .review_list {
    padding-left: 25px;
}

#product_review_area .review_list li {
    margin-bottom: 16px;
}

#product_review_area .review_list .review_date {
    font-weight: bold;
}

#product_review_area .recommend_average {
    margin-left: 16px;
    color: #DE5D50;
}

#product_review_area .review_list .recommend_level {
    margin-left: 16px;
    color: #DE5D50;
}

#product_review_area .review_list .recommend_name {
    margin-left: 16px;
}
